@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

.homepage1 {
  background-color: #212224;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}