.video {
  display:block;
  margin: 0 auto;
}


.title {
  text-align: center;
  position:relative;
}


.description {
  text-align: center;
  font-size: 15px;
  color: rgb(110, 110, 110);
}

.datePosted {
  text-align: center;
}

@media (max-width: 850px) {
  .video {
    margin: auto;
    display: block;
    width: 500px;
    height: 300px;
  }
}